[submodule "Linkup2017/maison21g"]
	path = Linkup2017/maison21g
	url = git@github.com:Linkup2017/maison21g.git
	branch = main

[submodule "addons"]
	path = addons
	url = git@github.com:Linkup2017/linkup-package.git
	branch = 16.0
